<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Controller.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Produto</servlet-name>
        <servlet-class>Controller.Produto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Venda</servlet-name>
        <servlet-class>Controller.Venda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Endereco</servlet-name>
        <servlet-class>Controller.Endereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemVenda</servlet-name>
        <servlet-class>Controller.ItemVenda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Produto</servlet-name>
        <url-pattern>/Produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Venda</servlet-name>
        <url-pattern>/Venda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Endereco</servlet-name>
        <url-pattern>/Endereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemVenda</servlet-name>
        <url-pattern>/ItemVenda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
